<%provide(:title, 'New Character') %>


<div class="center row "> 
<h1>New Character</h1> 
    <div class="col-md-2 col-md-offset-5 char_gen">
        <%=form_for @character do |f|%>

            <%= render 'shared/error_messages' %>
            <%= f.label :name, "Character Name" %>
            <%= f.text_field :name %>

            <%= f.label :job, "Select a Class: " %>
            <%= f.select :job, options_for_select([["Select one",""], "Rogue", "Mage", "Warrior", "Ranger"])%>
            <div class="center">

            <%= f.label :race_id, "Race: "%>
            <%= f.select :race_id, @race.collect {|c| [c.name,c.id]},{:include_blank =>true} %>
            </div> 
            <div class="center stats " >

            <%= f.label :str, "Strength:" %>
            <%= f.number_field :str, :class => "center str",:value => @stats.rand(1..6),:min => 1,:max=> 6 %> 
            
            <%= f.label :dex, "Dexterity:" %>
            <%= f.number_field :dex, :class => "center dex",:value => @stats.rand(1..6),:min => 1,:max=> 6 %> 


            <%= f.label :dex, "Constitution:" %>
            <%= f.number_field :con, :class => "center con",:value => @stats.rand(1..6),:min => 1,:max=> 6 %>
            
            <%= f.label :dex, "Intelligence:" %>
            <%= f.number_field :intel, :class => "center int",:value => @stats.rand(1..6),:min => 1,:max=> 6 %>
           
            <%= f.label :wis, "Wisdom:" %>
            <%= f.number_field :wis, :class => "center wis",:value => @stats.rand(1..6),:min => 1,:max=> 6 %>

            <%= f.label :wis, "Charisma:" %>
            <%= f.number_field :cha, :class => "center cha",:value => @stats.rand(1..6),:min => 1,:max=> 6 %>
            </div>


            <%= f.submit "Create Character", class: "create_character" %>

        <% end %>
    </div>
</div>
